:root {
    --obg: #98FB98;
    --obog: #00FF7F;
    --nobg: #FF6A6A;
    --nobog: #FF0000;
}

table {
    text-align:center;
}

.lock {
    background-color:var(--nobg);
    border-color: var(--nobog);
}
.unlock {
    background-Color:var(--obg);
    border-Color: var(--obog);

}
.na {
    position: relative;
    height: 50px;
}
.nu {
    position: relative;
    border-style: solid;
    border-radius:10px;
}
.nub {
    border-color: lightgrey;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    transition: ease-out 150ms;
}
.nub:hover {
    transform: scale(1.05,1.05);
}
.sus {
    color:red;
    font-size: 50px;
}
.news {
    width: 90%;
    left: 5%;
    height: 30px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
    position: relative;
    overflow: hidden;
}
.newstext {
    color: black;
    font-size: 20px;
    top: -20px;
    position: absolute;
}
.chs {
    width: 170px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: orangered;
    align-self: center;
    color: white;
}
.chs1 {
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #ff4f00;
    align-self: center;
    color: white;
}
.ge {
    position: relative;
    top: 25px;
    width: 95%;
    height: 80px;
    background-color: white;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    
}
.gn {
    position: absolute;
    left: 5px;
    top: -15px;
    font-size: 18px;
    color: black;
}
.gN {
    position: absolute;
    left: 100px;
    top: -8px;
    color: black;
}
.gt {
    position: absolute;
    left: 5px;
    top: 25px;
    color: black;
}
.gc {
    position: absolute;
    left: 400px;
    top: 25px;
    color: black;
}
.gb {
    position: absolute;
    width: 120px;
    height: 70px;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    transition: ease-out 150ms;
}
.gb:hover {
    transform: scale(1.05,1.05);
}
.se {
    width: 170px;
    height: 130px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    align-self: center;
    color: black;
    position: relative;
}
.glitch {
    color: red;
}
.c-game-ui {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    /* stylelint-disable-next-line unit-allowed-list */
    height: 100vh;
    position: fixed;
}
.c-game-ui--fixed {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    justify-content: center;
    pointer-events: none
}